*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(to bottom, #FFFFFF, #2646D5);
    height: 932px;
    width: 430px;
    font-family: 'Anton';
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

main .scanner .box{
    position: absolute;
    background-color: #2646D5;
    width: 379px;
    height: 622px;
    top: 107px;
    left: 16px;
    border-radius: 10px;
    z-index: 1;
}

main .scan img{
    position: absolute;
    width: 333px;
    height: 586px;
    top: 18px;
    left: 23px;
}

main .step{
    position: absolute;
    background-color: #666;
    color: #FFFFFF;
    width: 61px;
    height: 23px;
    opacity: 0.91;
    top: 650px;
    left: 155px;
    border-radius: 80px;
    font-size: 11px;
    font-weight: 400;
    text-align: center;
    padding-top: 4px;
}

footer .button{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
}

footer button{
    width: 360px;
    height: 75px;
    border-radius: 116px;
    border: 0px;
    background: rgba(255, 255, 255, 0.9);
    color: #2646D5;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer button:hover{
    background: rgba(255, 255, 255, 1);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}